<a href="https://colab.research.google.com/github/silverleaf321/BCA-project/blob/main/Copy_of_Bike_Rentals_Data_Unclean_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading Data

In [ ]:
url = 'https://media.githubusercontent.com/media/PacktPublishing/Hands-On-Gradient-Boosting-with-XGBoost-and-Scikit-learn/master/Chapter01/bike_rentals.csv'
import pandas as pd
df = pd.read_csv(url)
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1.0,0.0,1.0,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

# Cleaning the Data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    float64
 3   yr          730 non-null    float64
 4   mnth        730 non-null    float64
 5   holiday     731 non-null    float64
 6   weekday     731 non-null    float64
 7   workingday  731 non-null    float64
 8   weathersit  731 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         728 non-null    float64
 12  windspeed   726 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(10), int64(5), object(1)
memory usage: 91.5+ KB

In [ ]:
df = df.fillna('median')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    float64
 3   yr          731 non-null    object
 4   mnth        731 non-null    object
 5   holiday     731 non-null    float64
 6   weekday     731 non-null    float64
 7   workingday  731 non-null    float64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    object
 10  atemp       731 non-null    object
 11  hum         731 non-null    object
 12  windspeed   731 non-null    object
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(5), object(7)
memory usage: 91.5+ KB

`df.info()` indicates that all null values have been cleared.

# Split Data into X and y

In [ ]:
# set y as the last column
y = df.iloc[:,-1:]
y.head()

    cnt
0   985
1   801
2  1349
3  1562
4  1600

In [ ]:
# Set X: start with 2nd column include all but last 3
X = df.iloc[:, 2:-3]
X.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446
1,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539
2,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309
3,1.0,0.0,1.0,0.0,2.0,1.0,1,0.2,0.212122,0.590435,0.160296
4,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.22927,0.436957,0.1869

# Verify Data is ready for ML

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    float64
 1   yr          731 non-null    object
 2   mnth        731 non-null    object
 3   holiday     731 non-null    float64
 4   weekday     731 non-null    float64
 5   workingday  731 non-null    float64
 6   weathersit  731 non-null    int64
 7   temp        731 non-null    object
 8   atemp       731 non-null    object
 9   hum         731 non-null    object
 10  windspeed   731 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 62.9+ KB

All input data, the X columns, are numeric with no null values.

In [ ]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cnt     731 non-null    int64
dtypes: int64(1)
memory usage: 5.8 KB

All output data, the y, is numeric with no null values.

# Preliminary Analysis

In [ ]:
df.corr()

,instant,season,holiday,weekday,workingday,weathersit,casual,registered,cnt
instant,1.000000,0.412224,0.016145,-0.000016,-0.009415,-0.021477,0.275255,0.659623,0.628830
season,0.412224,1.000000,-0.010537,-0.003080,0.016433,0.019211,0.210399,0.411623,0.406100
holiday,0.016145,-0.010537,1.000000,-0.101960,-0.252224,-0.034627,0.054274,-0.108745,-0.068348
weekday,-0.000016,-0.003080,-0.101960,1.000000,0.038678,0.031087,0.059923,0.057367,0.067443
workingday,-0.009415,0.016433,-0.252224,0.038678,1.000000,0.057866,-0.515692,0.306130,0.063781
weathersit,-0.021477,0.019211,-0.034627,0.031087,0.057866,1.000000,-0.247353,-0.260388,-0.297391
casual,0.275255,0.210399,0.054274,0.059923,-0.515692,-0.247353,1.000000,0.395282,0.672804
registered,0.659623,0.411623,-0.108745,0.057367,0.306130,-0.260388,0.395282,1.000000,0.945517
cnt,0.628830,0.406100,-0.068348,0.067443,0.063781,-0.297391,0.672804,0.945517,1.000000